header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 5rem;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}

nav {
  margin-left: 160px;
  grid-column: 2;
  display: flex;
  gap: 2rem;
  z-index: 10;

  app-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

a {
  color: var(--color-text-main);
  font-size: 1.1rem;
}

@media (max-width: 1024px) {
  header {
    display: flex;
    padding: 1rem 2.5rem;
  }

  nav {
    margin: 0 auto;
  }

}