#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--color-red);
  margin-bottom: 2rem;
  filter: drop-shadow(drop-shadow(0 2px 4px rgba(0, 0, 0, .2)));
}

h1 {
  font-size: 2.5rem;
  text-align: center;

  span {
    font-weight: bolder;
  }
}

.social {
  display: flex;
  gap: 1.5rem;
  position: relative;
  background-color: var(--color-background-primary);
  padding: 0 .8rem;
  margin-bottom: 5rem;

  .ng-fa-icon {
    color: var(--color-text-main);
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-bottom: 1px solid var(--color-text-main);
    width: 200px;
    height: 1px;
  }
}