#hero {
  display: flex;
  gap: 7rem;
  width: 100%;
  margin-top: -60px;
  z-index: 1;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-description {
  font-size: 1rem;
  font-weight: 300;
  max-width: 500px;
  margin-bottom: 20px;
}

.hero-image {
  flex: 1;
  height: 94vh;
  margin-right: -10rem;
  overflow: hidden;
  border-bottom-left-radius: 12px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

h1 {
  font-size: 1.8rem;
  text-align: left;
  line-height: 2.5rem;
  margin-bottom: 20px;

  .second-line {
    font-size: 2.2rem;
    display: block;
  }

  .my-name {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--color-detail);
  }

}

.social {
  display: flex;
  gap: 1.5rem;
  position: relative;
  background-color: var(--color-background-primary);
  padding: 0 .8rem;
  margin-left: 60px;

  .ng-fa-icon {
    color: var(--color-text-main);
    transition: color .25s;

    &:hover {
      color: var(--color-detail);
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-bottom: 2px solid var(--color-detail);
    width: 300px;
    height: 1px;
  }
}

@media (max-width: 1024px) {
  #hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .hero-content {
    flex: 0;
  }

  h1 {
    width: 100%;
    text-align: center;

    .second-line {
      font-size: 2rem;
      text-align: center;

    }
  }

  .hero-description {
    text-align: justify;
  }

  .hero-image {
    flex: none;
    width: 10rem;
    height: 100%;
    border-radius: 4px;
    margin-right: 0;


    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .social {
    display: flex;
    justify-content: center;
    padding: 0 .8rem;
    margin: 0 auto;
  }
}