<section id="about-me">
  <div class="left">
    <div class="about-me__image">
      <img [src]="avatar" alt="Leandro dos Anjos Tavares">
    </div>
  </div>

  <div class="right">
    <h2>about me</h2>

    <p>
      Even though I work both backend and front-end, I am fascinated with the front-end. I’m Proficient with frameworks
      and libraries such as Angular and React, I also have a strong understanding of accessibility practices and
      performance optimization. Dedicated to providing an excellent user experience, I effectively collaborate with
      designers and back-end developers to deliver high-quality projects. My main stack is Angular and Java, but I have
      experience with various technologies, as shown below.
    </p>
    <div class="techs">
      <img src="https://img.shields.io/badge/angular%20-%23dd0031.svg?&logo=angular&logoColor=white" alt="angular" />
      <img src="https://img.shields.io/badge/html5%20-%23dc4b25.svg?&logo=html5&logoColor=white" alt="html5" />
      <img src="https://img.shields.io/badge/css3%20-%23146daf.svg?&logo=css3&logoColor=white" alt="css3" />
      <img src="https://img.shields.io/badge/javascript%20-%23f7e01b.svg?&logo=javascript&logoColor=white"
        alt="javascript" />
      <img src="https://img.shields.io/badge/node%20-%23417E38?logo=nodedotjs&logoColor=white" alt="node js" />
      <img src="https://img.shields.io/badge/typescript%20-%232f73bf.svg?&logo=typescript&logoColor=white"
        alt="typescript" />
      <img src="https://img.shields.io/badge/java%20-%23e51c20.svg?&logo=openjdk&logoColor=white" alt="java" />
      <img src="https://img.shields.io/badge/spring%20-%2369ad3c.svg?&logo=spring&logoColor=white" alt="springboot" />
      <img src="https://img.shields.io/badge/ruby%20on%20rails%20-%23C70001.svg?logo=rubyonrails&logoColor=white"
        alt="ruby on rails" />
      <img src="https://img.shields.io/badge/jquery%20-%230769AD?logo=jquery&logoColor=white" alt="jquery" />
      <img src="https://img.shields.io/badge/react%20-%358C4DC?logo=react&logoColor=white" alt="react" />
      <img src="https://img.shields.io/badge/AWS%20-%23EC912D?logo=amazon&logoColor=white" alt="AWS" />
    </div>
  </div>
</section>