#about-me {
  display: flex;
  gap: 14vw;
  align-items: center;
  justify-content: space-between;
}

.about-me__image {
  width: 30rem;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.left {
  flex: 1;
}

.right {
  h2 {
    text-align: end;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
  }

  p {
    text-align: end;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
}

.techs {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-end;
}