main {
  width: 80vw;
  height: 75vh;
  border-radius: 15px;

  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.8);
  background: var(--background-glass);
  backdrop-filter: blur(15px);
}

p {
  font-size: 56px;
  font-weight: bolder;
  color: var(--color-text-main);
  text-align: center;
}