#actions {
  position: fixed;
  top: 6px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 100px;
}

.theme-action {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;

  &--icon {
    color: var(--color-theme-action);
    filter: drop-shadow(0 0 3px rgba(180, 237, 25, 0.6));
    transition: transform 250ms;

    &:hover {
      transform: scale(1.15);
    }
  }

}