.theme-action {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;

  &--icon {
    color: var(--color-theme-action);
    filter: drop-shadow(0 0 3px rgba(180, 237, 25, 0.6));
    transition: transform 250ms;

    &:hover {
      transform: scale(1.15);
    }
  }

}