#actions {
  position: fixed;
  top: 6px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 100px;
}

.theme-action {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;

  span {
    color: var(--color-theme-action);
    font-weight: 800;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  }
}