@use "./styles/reset";
@use "./styles/themes";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

html,
body {
  background-color: var(--color-background-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--color-text-main);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

section {
  width: 100%;
  min-height: 100vh;
  padding-left: 10rem;
  padding-right: 10rem;
}

@media (max-width: 520px) {
  section {
    padding: 2.5rem;
  }
}