<section id="projects">
  <h2>my projects</h2>

  <div class="project-list">
    <div class="project">
      <img src="https://place-hold.it/1280x720" alt="project desciption">
      <div class="project_info">
        <p class="project_info__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam libero nulla,
          blanditiis vero excepturi cupiditate nobis quo tempore eum praesentium.
        </p>
        <div class="techs">
          <p>made with:</p>
          <div class="tech-list">
            <fa-icon [icon]="faAngular" title="angular"></fa-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="project">
      <img src="https://place-hold.it/1280x720" alt="project desciption">
      <div class="project_info">
        <p class="project_info__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam libero nulla,
          blanditiis vero excepturi cupiditate nobis quo tempore eum praesentium.
        </p>
        <div class="techs">
          <p>made with:</p>
          <div class="tech-list">
            <fa-icon [icon]="faAngular" title="angular"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>